{% assign profile = include.profile %}

<div class="repo repo-profile-card" data-github-username="{{ profile.username }}">
  <div class="card h-100 hoverable repo-native-card repo-native-card--profile">
    <div class="card-body">
      <div class="repo-native-card__eyebrow">
        <span class="repo-native-card__icon"><i class="fa-brands fa-github"></i></span>
        <a class="repo-native-card__path repo-native-card__path--link" href="{{ profile.profile_url }}">{{ profile.username }}</a>
      </div>
      <div class="repo-native-card__stats repo-native-card__stats--profile">
        <span class="repo-native-card__stat">
          <i class="fa-solid fa-star"></i>
          <span class="repo-native-card__stat-label">Stars</span>
          <span class="repo-native-card__stat-value js-github-profile-stars">--</span>
        </span>
        <span class="repo-native-card__stat">
          <i class="fa-solid fa-book-bookmark"></i>
          <span class="repo-native-card__stat-label">Repos</span>
          <span class="repo-native-card__stat-value js-github-profile-repos">--</span>
        </span>
        <a class="repo-native-card__stat repo-native-card__stat--link" href="{{ profile.profile_url }}">
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
          <span class="repo-native-card__stat-label">Profile</span>
        </a>
      </div>
    </div>
  </div>
</div>
